# --- Metadata ---
.git/
.gitignore
.DS_Store
.AppleDouble
.LSOverride

# --- Build Artifacts ---
**/node_modules/
**/*.so
**/*.dylib
**/*.dll
**/*.o
**/*.a
**/*.la
**/*.lo
**/*.slo

# --- Generic Build Folders ---
# **/build/
# **/dist/
# **/out/
# **/target/

# --- Tree-sitter temporary files ---
**/binding.gyp
**/config.gypi

# --- Temp files ---
*.log
npm-debug.log*
.tmp/
.npm/
.gyp/
