[submodule "external/tree-sitter-lua"]
	path = external/tree-sitter-lua
	url = https://github.com/tree-sitter-grammars/tree-sitter-lua.git
	ignore = all
[submodule "external/tree-sitter-luadoc"]
	path = external/tree-sitter-luadoc
	url = https://github.com/tree-sitter-grammars/tree-sitter-luadoc
	ignore = all
[submodule "external/lazydev.nvim"]
	path = external/lazydev.nvim
	url = https://github.com/folke/lazydev.nvim.git
	ignore = all
