[submodule ".config/nvim/pack/vendor/start/lazydev.nvim"]
	path = .config/nvim/pack/vendor/start/lazydev.nvim
	url = https://github.com/folke/lazydev.nvim.git
[submodule "external/tree-sitter-lua"]
	path = external/tree-sitter-lua
	url = https://github.com/tree-sitter-grammars/tree-sitter-lua.git
[submodule "external/tree-sitter-luadoc"]
	path = external/tree-sitter-luadoc
	url = https://github.com/tree-sitter-grammars/tree-sitter-luadoc
